.agents
.claude
.gemini
.agent
node_modules
*/*/node_modules
*.log
*/*/.expo
*/*/.wrangler
*/*/.vercel
*/*/.netlify
*/*/.cloudflare
*/*/.fly
*/*/.render
*/*/.railway
*/*/.deta
*/*/.heroku
*/*/wrangler.toml
*/*/dist
*/*/build
.kilo
.kilocode
.turbo
.mira
apps\web\.tamagui
packages\ui\.tamagui
*/*/.tamagui