@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  --color-background: var(--background-color);
  --color-on-background: var(--on-background-color);
  --color-surface: var(--surface-color);
  --color-on-surface: var(--on-surface-color);
  --color-surface-variant: var(--surface-variant-color);
  --color-on-surface-variant: var(--on-surface-variant-color);
  --color-surface-container: var(--surface-container-color);
  --color-outline-variant: var(--outline-variant-color);

  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-error: var(--color-error);
  --color-on-error: var(--color-on-error);
  --color-success: var(--color-success);
  --color-on-success: var(--color-on-success);
  --color-warning: var(--color-warning);
  --color-on-warning: var(--color-on-warning);
  --color-info: var(--color-info);
  --color-on-info: var(--color-on-info);

  --color-ring: var(--color-ring);
  --color-input: var(--color-input);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
}

html,
body,
:host {
  font-family:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--on-background-color);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hero-hover {
  @apply opacity-75 transition-all duration-300 ease-in-out hover:scale-105 hover:opacity-100;
  @apply dark:bg-gray-800;
}
