:root ._ff- {
  font-family: ;
}
:root ._dsp-inline {
  display: inline;
}
:root ._bxs-border-box {
  box-sizing: border-box;
}
:root ._ww-break-word {
  word-wrap: break-word;
}
:root ._ws-pre-wrap {
  white-space: pre-wrap;
}
:root ._mt-0px {
  margin-top: 0px;
}
:root ._mr-0px {
  margin-right: 0px;
}
:root ._mb-0px {
  margin-bottom: 0px;
}
:root ._ml-0px {
  margin-left: 0px;
}
:root ._col-color {
  color: var(--color);
}
:root ._fos- {
  font-size: ;
}
:root ._fow-bold {
  font-weight: bold;
}
