:root ._dsp-flex {
  display: flex;
}
:root ._fd-column {
  flex-direction: column;
}
:root ._fb-auto {
  flex-basis: auto;
}
:root ._bxs-border-box {
  box-sizing: border-box;
}
:root ._mih-0px {
  min-height: 0px;
}
:root ._miw-0px {
  min-width: 0px;
}
:root ._fs-0 {
  flex-shrink: 0;
}
:root ._pos-absolute {
  position: absolute;
}
:root ._t-0px {
  top: 0px;
}
:root ._r-0px {
  right: 0px;
}
:root ._b-0px {
  bottom: 0px;
}
:root ._l-0px {
  left: 0px;
}
:root ._bg-rgba0000--538295333 {
  background-color: rgba(0, 0, 0, 0.5);
}
:root ._zi-1000 {
  z-index: 1000;
}
:root ._ai-center {
  align-items: center;
}
:root ._jc-center {
  justify-content: center;
}
:root ._ff- {
  font-family: ;
}
:root ._dsp-inline {
  display: inline;
}
:root ._ww-break-word {
  word-wrap: break-word;
}
:root ._ws-pre-wrap {
  white-space: pre-wrap;
}
:root ._mt-0px {
  margin-top: 0px;
}
:root ._mr-0px {
  margin-right: 0px;
}
:root ._mb-0px {
  margin-bottom: 0px;
}
:root ._ml-0px {
  margin-left: 0px;
}
:root ._col-color {
  color: var(--color);
}
:root ._fow-bold {
  font-weight: bold;
}
