:root ._dsp-flex {
  display: flex;
}
:root ._ai-stretch {
  align-items: stretch;
}
:root ._fb-auto {
  flex-basis: auto;
}
:root ._bxs-border-box {
  box-sizing: border-box;
}
:root ._pos-relative {
  position: relative;
}
:root ._mih-0px {
  min-height: 0px;
}
:root ._miw-0px {
  min-width: 0px;
}
:root ._fs-0 {
  flex-shrink: 0;
}
:root ._fd-row {
  flex-direction: row;
}
:root ._jc-space-betwe3241 {
  justify-content: space-between;
}
:root ._ff- {
  font-family: ;
}
:root ._dsp-inline {
  display: inline;
}
:root ._ww-break-word {
  word-wrap: break-word;
}
:root ._ws-nowrap {
  white-space: nowrap;
}
:root ._mt-0px {
  margin-top: 0px;
}
:root ._mr-0px {
  margin-right: 0px;
}
:root ._mb-0px {
  margin-bottom: 0px;
}
:root ._ml-0px {
  margin-left: 0px;
}
:root ._col-color {
  color: var(--color);
}
:root ._fow-bold {
  font-weight: bold;
}
:root ._maw-10037 {
  max-width: 100%;
}
:root ._ox-hidden {
  overflow-x: hidden;
}
:root ._oy-hidden {
  overflow-y: hidden;
}
:root ._textOverflow-ellipsis {
  text-overflow: ellipsis;
}
:root ._ws-pre-wrap {
  white-space: pre-wrap;
}
:root ._fos- {
  font-size: ;
}
