name = "syncstuff-api"
main = "src/index.ts"
compatibility_date = "2025-01-01"

[[d1_databases]]
binding = "syncstuff_db"
database_name = "syncstuff-db"
database_id = "94e9ef8c-2032-4ee5-9a97-b6280eab0957"

[env.production]
# Production routes - update with your domain
# routes = [
#   { pattern = "api.syncstuff.app/*", zone_name = "syncstuff.app" }
# ]
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1