.device-list {
  display: flex;
  flex-direction: column;
}

.device-list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 20px;
  text-align: center;
}
